body{
margin: 0;
}

/* NAVBAR AND FOOTER CSS FOR EACH SECTION */

/* 1 NAVBAR:- */

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(213, 199, 190, 1);
    padding: 24px 70px;
    min-width: 0px;
    box-shadow: 0px 0px 10px 1px rgb(0,0,0,0.65);
}
#logo_nav_alingment_div{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}
#logo-header{
    font-family: 'cinzel',serif;
    font-size: 12px;
}
.navbar_links{
    font-family: 'work sans', sans-serif;
    font-size: 16px;
    padding-right: 20px;
    text-decoration: none;
    color: rgb(55, 17, 3);
    font-weight: 500;
}
#booknow_link{
    border: 2px solid #143d2a;
    font-size: 16px;
    padding: 15px 39px;
    background-color: #143d2a;
    text-decoration: none;
    color: white;
    font-family: 'work sans', sans-serif;
}

/* 2 footer:- */

#footer{
    background-color: #143d2a;
    
}
#align_div_for_footer{
    display: flex;
    gap: 50px;
    padding:75px 70px;
}
#align_div_for_footer > div{
    flex: 1;
}
#heading_for_footer{
    margin-top:0;
    font-size: 40px;
    color: white;
    font-family: 'cinzel',serif;
    text-transform: uppercase;
    margin-bottom: 50px;
}
#second_tagline_for_footer_section{
    margin-top:0;
    font-size: 20px;
    color: white;
    font-family: 'cinzel',serif;
    text-transform: uppercase;
    width: 60%;
    margin-bottom: 10px;
    line-height: 25px;
}
#descripiton_for_footer{
    color: white;
    font-family: 'work sans', sans-serif;
    font-size: 18px;
    text-align: start;
    font-weight: 500;
    width: 60%;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 70px;
}
#footer_links_div{
   display: grid;
   grid-template-columns: max-content max-content max-content max-content;
   gap: 40px;
}
.footer_links{
    font-family: 'work sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.footer_links_img{
    height: 22.5px;
    width: 22.5px;
}
#div_for_address_and_contacts_in_footer{
    display:flex ;
    gap: 50px;
}
#div_for_address_and_contacts_in_footer > div {
    flex: 1;
}
.address_contact_heading_for_footer_section{
    margin-top:0;
    font-size: 20px;
    color: white;
    font-family: 'cinzel',serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 25px;
    padding-top: 95px;
}
.information_address_contact_para{
    color: white;
    font-family: 'work sans', sans-serif;
    font-size: 18px;
    text-align: start;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
#information_contact_para_email{
    font-family: 'work sans', sans-serif;
    font-size: 16px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}
#copyright_for_footer_para{
    color: white;
    font-family: 'work sans', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-bottom: 10px;
}

/* CSS FOR HOME PAGE */


 #hero_section_homepage{
    padding: 50px;
    background-color: rgb(0,0,0,0.65);

} 
#background_image_for_the_hero_section{
    position: fixed;
    z-index: -50;
    height: 100%;
    width: 100%;
}
#div_for_5stars_and_para{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding-top: 105px;
    
}
#id_for_herosection_5star{
    height: 25px;
    width: 75px;
}
#id_for_herosection_5000{
    font-family: 'work sans', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 500;
}
#for2ndh2inherosection{
    text-transform: uppercase;
    color: white;
    font-size: 58px;
    font-weight: bolder;
    font-family: 'cinzel',serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
}
#id_for_herosection_divider_white{
    display: flex;
    justify-content: center;
    align-items: center;
}
#id_for_herosection_divider_white_image{
    height: 100px;
    width: 500px;
    position: relative;
    top: -25px;
}
#for_tagline_hero_section{
    font-size: 18px;
    color: white;
    font-family: 'work sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -70px;
}
#booknow_link_hero_section_div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -55px;
}
#booknow_link_hero_section{
    border: 2px solid #143d2a;
    font-size: 16px;
    padding: 15px 75px;
    background-color: #143d2a;
    text-decoration: none;
    color: white;
    font-family: 'work sans', sans-serif;
}
#id_for_aboutus_section{
    background-color: rgb(213, 199, 190, 1);
    display: flex;
    justify-content: space-between;
    padding: 90px 90px 90px 45px;

}
#heading_for_about_us_section{
    color: #143d2a;
    font-family: 'cinzel',serif;
    font-size: 55px;
    margin-top: 85px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.para_for_about_us_homepage{
    color: #143d2a;
    font-size: 18px;
    font-family: 'work sans', sans-serif;
    text-align: start;
    width: 60%;
    line-height: 20px;
    letter-spacing: 2px;
    margin-bottom: 22px;
}
#learn_more_link_for_about_us_section_div{
    display: flex;
    justify-content: start;
    margin-top: 50px;
}
#learn_more_link_for_about_us_section{
    border: 1px solid black;
    font-size: 16px;
    padding: 15px 50px;
    text-decoration: none;
    color: #143d2a;
    font-family: 'work sans', sans-serif;
}
#id_for_aboutsection_trimmer_brush_image{
    height: 587px;
    width: 533px;
    padding-right: 100px;
}
#id_for_gallery_section{
    background-color: rgb(213, 199, 190, 1);
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom:  90px;
}
#heading_for_gallery_section{
    color: rgb(55, 17, 3);
    font-family: 'cinzel',serif;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}
#tagline_for_gallery_homepage{
    color: rgb(55, 17, 3);
    font-family: 'work sans', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 500; 
}
#div_for_gallery_images_homepage{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    margin-top: 50px;
    gap: 15px;
    justify-content: center;
}
.images_for_gallery_homepage{
    height: 250px;
    width: 250px;
}
#explore_gallery_link_for_gallery_section_div{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#explore_gallery_link_for_gallery_section{
    border: 1px solid black;
    font-size: 16px;
    padding: 15px 50px;
    text-decoration: none;
    color: #143d2a;
    font-family: 'work sans', sans-serif;
}
#id_for_service_section{
    background-color: rgb(213, 199, 190, 1);
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom:  90px;
}
#heading_for_service_section{
    color: #143d2a;
    font-family: 'cinzel',serif;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}
#tagline_for_service_homepage{
    color: #143d2a;
    font-family: 'work sans', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    
}
#div_for_service_section_3_kinds_of_services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 50px;
}
.single_section_div_for_services_homepage{
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px rgba(195.5, 195.5, 195.5, 0.5);
    border-radius: 10px;
    margin-top: 10px;
    min-width: 0px;
    letter-spacing: 1px;
}
.heading_for_servies_in_homepage{
    text-align: center;
    font-size: 20px;
    color: #143d2a;
    font-family: 'cinzel',serif;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.descripiton_for_services_at_homepage_div{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.descripiton_for_services_at_homepage{
    color: #143d2a;
    font-family: 'work sans', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    width: 80%;
}
#explore_services_link_for_services_section_div{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#explore_services_link_for_services_section{
    border: 1px solid black;
    font-size: 16px;
    padding: 15px 50px;
    text-decoration: none;
    color: #143d2a;
    font-family: 'work sans', sans-serif;
}
